/* Set the height of the column headings */
h3.fixed-top {
    height: 50px;
}

/* Center the text inside the column headings */
h3 a {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

/* Style the search bar */
.form-control {
    width: 70%;
}

/* Add padding to the tweet cards */
.card {
    padding: 10px;
}

/* Add margin to the bottom of the fixed column headings */
.fixed-top {
    margin-bottom: 10px;
}

.search-bar {
    position: fixed;
    top: 50px;
    left: 25%;
    right: 25%;
    background-color: #fff;
    border-bottom: 1px solid #ddd;
    border-right: 1px solid #ddd;
    border-left: 1px solid #ddd;
    z-index: 100;
    padding: 10px;
}

.content-left {
    position: fixed;
    top: 50px;
    left: 0%;
    right: 75%;
    background-color: #fff;
    z-index: 100;
    padding: 10px;
}

.content-mid {
    position: fixed;
    top: 50px;
    left: 25%;
    right: 25%;
    background-color: #fff;
    border-right: 1px solid #ddd;
    border-left: 1px solid #ddd;
    z-index: 100;
    padding: 10px;
}

.content-right {
    position: fixed;
    top: 50px;
    left: 75%;
    right: 0%;
    background-color: #fff;
    z-index: 100;
    padding: 10px;
}

.content-mid-fluid {
    top: 50px;
    left: 25%;
    right: 25%;
    background-color: #fff;
    border-right: 1px solid #ddd;
    border-left: 1px solid #ddd;
    z-index: 100;
    padding: 10px;
}