body {
  background-color: #f5f8fa;
}

.content {
  top: 56px;
  margin-bottom: 100px;
  position: relative;
}

.title-n {
font-size: 18px;
text-align: center;
margin-top: 10px;
color: #666;
}

.cerca-utenti {
  padding: 0px 30px !important;
}

.avvia-chat {
  padding-left: 0px !important;
}

.avvia-btn {
  border-radius: 20px;
}

.cerca {
  display: flex;
  align-items: baseline;
}

#chat_title {
    text-align: center;
    flex: 1;
}

#chat-container {
    height: 70vh;
    overflow-y: auto;
    background-color: #f2f2f2;
    padding: 20px;
    box-sizing: border-box;
    margin: 20px;
    border-radius: 20px;
}
