/* NAVBAR */
nav.navbar {
    position: fixed;
    z-index: 10;
    top: 0;
    background-color: #1da1f2;
}

.accesso {
  display: flex;
  flex-direction: row;
  font-weight: bold;
      margin-right: 10px;
}

.carousel-item {
  background-color: #fafafa !important;
}

a.acquista.btn.waves-effect.light-blue.white-text {
    margin-top: 20px;
}

.accesso .material-icons {
  padding-left: 5px;
}

.negative {
  color: #c62828;
}

.container {
  width: 100% !important;
  margin: 0 !important;
}

#logo-container img {
  height: 44px;
  top: 6px;
  bottom: 6px;
  position: relative;
  left: 5px;
}

img#propic {
  width: 40px;
  height: 40px;
  top: 8px;
  bottom: 8px;
  position: relative;
  border-radius: 100%;
}

.char-count-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: fixed;
  width: 100%;
}

.char-count-item .count {
  font-size: 18px;
  font-weight: bold;
  margin-top: -10px;
  height: 20px;
}

.char-count-item .label {
  font-size: 10px;
  text-transform: uppercase;
  color: #000;
  height: 28px;
}

.negative {
  color: #c62828;
}

.background img {
  width: 100%;
}

.quota_side {
    padding-left: 40px;
    height: 30px;
    display: flex;
    align-items: center;
}

.quota-container {
  display: flex;
  flex-direction: column;
}


.quota_side span {
  margin-right: 5px;
      font-variant: small-caps;
      font-size: 16px;
}

span#quota_text {
    display: inline-block;
    width: 120px;
    font-weight: 500;
}

.quota-value {
  font-weight: normal;
  color: #333; /* Colore del testo per i valori della quota */
}

.logout {
  color: #dc3545 !important;
    font-weight: bold !important;
}
