#col-sx {
  position: fixed;
  top: 50px;
  left: 0;
  height: 100%;
  background-color: #f2f2f2;
  width: 25%;
  padding-bottom: 20px;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 16px;
  overflow: auto;
}

[hidden="true"] {
  display: none;
}

#tipo-messaggio {
  text-align: center;
  margin-top: 20px;
  margin-bottom: 40px;
}

.title-bar {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}

.title-line {
  flex-grow: 1;
  height: 1px;
  background-color: #007bff;
  margin: 0 10px;
}

.title-text {
  font-size: 18px;
  font-weight: bold;
  color: #007bff;
  text-transform: uppercase;
  margin: 0;
}

.tipo-icona-container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  flex-wrap: wrap; /* Per andare a capo se lo spazio è insufficiente */
}

.tipo-icona {
  display: flex;
  flex-direction: column;
  align-items: center;
  cursor: pointer;
  transition: transform 0.2s ease;
  color: #007bff;
  font-size: 16px;
  margin: 0 10px;
  text-decoration: none;
}

.tipo-icona i {
  font-size: 36px;
  margin-bottom: 5px;
}

.tipo-icona:hover {
  transform: scale(1.1);
}

.tipo-icona p {
  margin: 0;
  text-transform: uppercase;
}

.tipo-icona.active {
  background-color: #007bff;
  color: white;
  border-radius: 20px;
}


/* Stile generale del campo di ricerca */
.search-container {
    display: flex;
    align-items: center;
    overflow: hidden;
    margin-bottom: 10px;
}

/* Stile del campo di ricerca */
.search-container input[type="text"] {
    padding: 10px;
    border-radius: 20px 0 0 20px;
    width: 100%;
    border: 1px solid #ccc;

}

/* Stile del pulsante di ricerca */
.search-button {
    background-color: #1da1f2;
    color: white;
    border-radius: 0 20px 20px 0;
    padding: 10px 15px;
    cursor: pointer;
    border: none;
    border-top: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
    border-right: 1px solid #ccc;
    transition: background-color 0.3s ease, color 0.3s ease;
}

.search-button:hover {
    background-color: #0c87c1;
    color: white;
}

/* Stile dell'icona di ricerca */
.search-button i {
    font-size: 18px;
}

/* Ridimensionamento del pulsante per adattarsi all'altezza del campo di ricerca */
.search-button {
    height: 100%;
}

#destinatari-inseriti-container {
  min-height: 40px; /* Altezza minima di una riga */
  max-height: 200px;
  border: 1px solid #ddd; /* Linea di separazione grigia */
  border-radius: 5px;
  background-color: #fff;
  padding: 10px;
  margin-bottom: 20px;
  overflow-y: auto; /* Barra di scorrimento verticale se necessario */
}

.inserito-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 5px 0;
  border: 1px solid #eee;
}

.inserito-item p {
  margin: 0;
}

.inserito-item .rimuovi {
  cursor: pointer;
  color: red;
}


#col-cx {
  margin:85px 25% 0 25%;
}

    #campo_scelta {
      display: flex;
      margin-bottom: 10px;
      justify-content: flex-end;
      padding-right: 30px;
    }

    #campo_scelta .icona-scelta {
      font-size: 24px;
      color: #999;
      cursor: pointer;
      padding-right: 20px;
    }

    #campo_scelta .icona-scelta.attiva {
      color: #1da1f2;
    }

    #contenuto_testo {
      width: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
    }

    textarea.form-input {
      width: 90%;
      height: 150px;
      padding: 10px;
      margin-bottom: 10px;
      font-size: 16px;
      border: 1px solid #ccc;
      border-radius: 4px;
      resize: vertical;
      }

    textarea.form-input:focus {
      outline-color: #ccc;
      border-color: #ccc;
    }

    #contenuto_immagine {
      margin-top: 10px;
      border: 1px solid #ccc;
      border-radius: 5px;
      padding: 10px;
      margin: 0px 20px;
      background-color: #f9f9f9;
    }

    #contenuto_immagine label {
      font-weight: bold;
      font-size: 14px;
      color: #555555;
      margin-bottom: 5px;
      text-transform: uppercase;    }

    #contenuto_immagine input[type="file"] {
      display: block;
      padding: 5px;
      border: none;
      border-radius: 4px;
      background-color: #f9f9f9;
      color: #333;
      font-size: 14px;
    }

    #contenuto_immagine input[type="file"]:focus {
      outline: none;
      border-color: #1DA1F2;
      box-shadow: 0 0 3px rgba(29, 161, 242, 0.5);
    }

    #preview {
      width: 100%;
      height: auto;
      max-width: 100%;
    }

    #preview .preview-image {
      display: block;
      width: 100%;
      height: auto;
      border-top: 1px solid #ccc;
      margin-top: 10px;
      padding-left: 10px;
      padding-right: 10px;
      padding-bottom: 10px;
      padding-top: 20px;
    }

    #contenuto_posizione {
      margin: 0px 30px;
      border: 3px solid #ccc;
      border-radius: 5px;
    }

    /* Stile personalizzato per il pulsante */
    .custom-map-control-button {
      background-color: #fff;
      color: #333; /* Colore del testo */
      border: 2px solid #ccc; /* Colore del bordo */
      border-radius: 5px;
      padding: 8px 16px;
      margin-bottom: 20px;
      font-size: 14px;
      font-weight: bold;
      cursor: pointer;
    }

    .custom-map-control-button:hover {
      background-color: #f0f0f0; /* Colore dello sfondo al passaggio del mouse */
    }


    .btn-confirm {
      background-color: #1da1f2;
      color: white;
      border: none;
      padding: 8px 16px;
      margin: 10px 35px;
      border-radius: 30px;
      font-size: 14px;
      font-weight: bold;
      transition: background-color 0.3s ease;
    }

    .btn-confirm:hover {
      background-color: #0c87c1 !important;
      color: white !important;
    }

    .button-disabled {
      pointer-events: none;
      background-color: #c62828
    }

#col-dx {
  position: fixed;
  top: 50px;
  right: 0;
  height: 100%;
  background-color: #f2f2f2;
  width: 25%;
  padding: 20px;
  overflow: auto;
}
