/*STATISTICHE*/
#col-sx {
  position: fixed;
  top: 50px;
  left: 0;
  height: 100%;
  background-color: #f2f2f2;
  width: 25%;
  padding-bottom: 20px;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 16px;
  overflow: auto;
}

.statistiche-title {
  font-size: 16px;
  margin-bottom: 10px;
  color: #262d33;
  text-align: center;
}

.social-channels {
  margin-bottom: 10px;
  text-align: center;
  border-bottom: 1px solid #ccc;
  padding-bottom: 10px;

}

.channel-button {
  display: inline-block;
  margin-right: 10px;
  padding: 8px 12px;
  background-color: #e5e5e5;
  color: #333;
  text-decoration: none;
  font-size: 14.5px;
}

.small {
  height: 20px;
  line-height: 16px;
  font-size: 18px;
  border-radius: 20px;
  vertical-align: bottom;
  background-color: transparent;
  padding: 0px 12px;
  transition: box-shadow 0.3s ease;
}

.small:hover {
  background-color: transparent;
}

.channel-button:hover {
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
  color: #333;
}

.tendenze-list {
  margin-bottom: 30px;
  padding-left: 20px;
  list-style: none;
  counter-reset: tendenze-counter;
}

.tendenze-item {
  font-size: 14px;
  margin-bottom: 10px;
  color: #14171a;
  position: relative;
}

.tendenze-item::before {
  counter-increment: tendenze-counter;
  content: counter(tendenze-counter) " - ";
  color: #14171a;
}

.tendenze-tag a {
  margin-left: 5px;
  color: #14171a;
  text-decoration: none;
}

.tendenze-count {
  color: #657786;
  float: right;
  padding-right: 40px;
}

.grafico {
  height: auto;
  margin-bottom: 25px;
  border: 1px solid #ccc;
  overflow: hidden;
}

.mosaic-container {
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 5px;
  padding-right: 5px;
  display: flex;
  flex-wrap: wrap;
  align-content: flex-start;
}

.mosaic-tile {
  margin: 5px;
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  color: #14171a;
}

.trend {
  font-size: 24px;
  font-weight: bold;
  color: #333;
}


/*GRAFICI*/
#col-dx {
  position: fixed;
  top: 50px;
  right: 0;
  height: 100%;
  background-color: #f2f2f2;
  width: 25%;
  padding: 20px;
  overflow: auto;
}


/*FEED*/
.searchbar {
  background-color: white;
  margin-bottom: 10px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.barra {
  padding-top: 20px;
  width: 80%;
}

#nuovo-squeal {
  bottom: 20px;
  left: 50%;
  transform: translateX(-50%);
}

.fixed-button {
  z-index: 1000;
  position: fixed;
}

#nuovo-squeal .round-button {
  box-shadow: 0 1px 5px rgba(0, 0, 0, 0.2);
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: #1da1f2;
  color: #ffffff;
  border: none;
  font-size: 24px;
}

#feed {
  margin-top: 56px;
  width: 50%;
  margin-left: 25%;
  margin-right: 25%;
  background-color: #f9f9f9;

}

.contenitore-squeal {
  padding: 10px 0 10px 0;
  width: 100%;
  max-height: calc(100vh - 56px - 83.6px);
  overflow: auto;
}

.squeal {
  width: 100%;
  height: auto;
  padding: 10px;
  margin: auto;
  margin-bottom: 20px;
  background-color: white;
  padding: 0.8rem;
  border: none;
  border-radius: 0;
}

.card-header {
  display: flex;
  align-items: center;
  border: none;
  background-color: white;
  justify-content: space-between;
}

.card-body img{
  max-width:100%;
  max-height:100%;
  border-radius: 10px;
}

.profile-image {
  width: 48px;
  height: 48px;
  border-radius: 50%;
}

.info_utente {
  display: flex;
  flex-direction: column;
  margin-left: 3%;
}

.nome_utente {
  font-weight: bold;
}

.tag-username, .comment-username {
  cursor: pointer;
}

.destinatari{
  margin-left: auto;
  margin-right: 0;
}

.destinatari-icona {
  font-size: 1.2rem;
}

.btn-destinatari {
  color: #555 !important;
  font-size: auto;
  text-decoration: none !important;
  border: none !important;
  padding-bottom: 5px;
}

.dropdown-menu {
  border: 1px solid #aaa;
  border-radius: 10px;
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.1);
  padding: 0.5rem 0;
  max-height: 200px;
  min-width: 120px;
  overflow-y: auto;
  margin-top: 10px;
}

.dropdown-item {
  font-weight: 400;
  white-space: normal;
}

.card-footer {
  border-top: 1px solid #ccc;
  background-color: white;
  padding: 8px 4px 4px 4px;
  text-align: center;
  width: 100%;
}

.btn-reazioni {
  border: none;
  color: #777;
  background-color: inherit;
}

.reazioni-icone{
  font-size: 20px;
  transition: transform 0.2s;
}

.reazioni-icone:hover {
  transform: scale(1.2);
}

.reazioni:hover{
  color: #777;
}

.n-reazioni {
  color: #262d33;
}

.reazioni {
  align-self: center;
  padding: 8px 3px 8px 3px;
  max-width: 90%;
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
  flex-wrap: wrap;
  transition: transform 0.2s;
}

.label-squeal {
  color: black;
  border-radius: 8px;
  padding: 5px;
  float: right;
  margin-left: 10px;
}


.visual {
  float: left;
  color: #777;
  padding: 5px;
  font-size: 14px;
  margin-top: 5px;
}

.visual-icona {
    margin-right:  5px;
}

.popolare {
  background-color: #b2d8b2;
}

.impopolare {
  background-color: #ff9999;
}

.controverso {
  background-color: #d9a6e0;
}

.auto {
  background-color:  #ffb07c;
}

.img-rounded {
  border-radius: 50%;
}

.info {
  display: block;
  margin-bottom: 10px;
  margin-top: 10px;
  padding: 0px 0px 0px 5px !important;
}



.follow_button {
  display: block;
  margin-top: 15px;
  text-align: right;
}


/*
.pubblico {
  margin-left: 3px;
  float: right;
  background-color: red;
}
*/

#riga0 {
  text-align: right;
}

/* Stile per i commenti */
.icona-chiudi {
  color: #FF5733;
  float: right;
  margin-right: 10px;
  font-size: 22px;
  cursor: pointer;
}

.contenitore-commenti {
  margin-top: 15px;
  height: 81%;
  overflow-y: auto;
  border-bottom: 1px solid #ccc;
}

/* Personalizza la barra di scorrimento */
.barra-scorrimento::-webkit-scrollbar {
  width: 10px;
}

.barra-scorrimento::-webkit-scrollbar-thumb {
  background: #ccc;
  border-radius: 5px;
}

.barra-scorrimento::-webkit-scrollbar-track {
  background: transparent;
}

.comment {
  text-align: left;
  display: flex;
  align-items: center;
  padding: 15px;
  margin: 0px 5px 10px 5px;
  border: 1px solid #ccc;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
  border-radius: 10px;
  background-color: white;
}

.img-commento img {
  max-width: 100%;
  max-height: 100%;
  border-radius: 10px;
}

.comment-profile-image {
  width: 36px;
  height: 36px;
  border-radius: 50%;
  margin-right: 10px;
  align-self: flex-start;
}

.comment-content {
  flex-grow: 1;
}

.comment-username {
  font-weight: bold;
  font-size: 14px;
}

.comment-text {
  margin-top: 5px;
  color: #333;
}

.comment-text img {
  max-width:100%;
  max-height:100%;
  border-radius: 10px;
}

.icona-commento{
  margin-left: 5px;
}


#mostra-commenti {
  flex-direction: column;
  justify-content: flex-start;
  height: 100%;
  align-items: center;
  text-align: center;
}


.aggiungi-commento {
  font-weight: bold;
  background-color: #1da1f2;
  color: #fff;
  border: none;
  border-radius: 25px;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  margin: 10px 0px 15px 0px;
}

#aggiungi-commento:hover {
  background-color: #0d88c2;
}

/*btn link nomi corpo testo*/
.btn_nomi {
  background:none;
  border:none;
}
