#main {
  margin-top: 50px;
  display: flex;
}

#sidebar {
  position: fixed;
  top: 56px;
  left: 0;
  width: 20%;
  height: 100%;
  overflow: auto;
  background-color: #f2f2f2;
}

#menu {
  list-style: none;
  padding: 0;
  margin-top: 20px;
}

#menu button {
  text-decoration: none;
  border: none;
  background-color: inherit;
  font-weight: bold;
  text-transform: uppercase;
}

#menu li {
  text-decoration: none;
  color: rgb(38, 45, 51);
  padding: 15px 30px 15px 30px;
  display: block;
  transition: background-color 0.3s ease;
}

#menu li:hover {
  background-color: #e0e0e0;
}


#content {
  margin-left: 20%;
  padding: 30px;
  width: 80%;
  background-color: #fefefe;
}

#notifiche:target,
#post-popolari:target,
#post-impopolari:target,
#quota:target,
#storico-acquisti:target,
#cambia-account:target,
#altro:target {
  scroll-margin-top: 70px;
}

.title-sezione {
  font-size: 26px;
}

.form-control {
  display: inline;
  width: auto;
  margin-bottom: 10px;
  padding: .375rem .75rem;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #212529;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid #ced4da;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border-radius: .375rem;
  transition: border-color .15s ease-in-out, box-shadow .15s ease-in-out;
}


.sezione img,
svg {
  border-radius: 100%;
  width: 120px;
  margin-bottom: 20px;
}

section {
  margin-bottom: 30px;
  width: 100%;
  background-color: #fff;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h3 {
  color: #333;
}

form {
  display: flex;
  margin: auto;
  justify-content: space-between;
}

label {
  margin-top: 10px;
  color: #333;
}

input {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

#content button {
  background-color: #1da1f2;
  color: #fff;
  padding: 10px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

#content button:hover {
  background-color: #0d8be0;
}

.barra-scorrimento {
  overflow-y: auto;
}

.barra-scorrimento::-webkit-scrollbar {
  width: 10px;
}

.barra-scorrimento::-webkit-scrollbar-thumb {
  background: #ccc;
  border-radius: 5px;
}

.barra-scorrimento::-webkit-scrollbar-track {
  background: transparent;
}

/* STORICO ACQUISTI*/
.sezione {
  font-family: 'Arial', sans-serif;
  margin: 10px;
  padding: 0;
  background-color: #f4f4f4;
  border: 2px solid #ddd;
  /* Colore del bordo grigio chiaro */
  border-radius: 30px;
  /* Border radius di 10px */

}

#acquisti .container {
  max-width: 800px;
}

.container {
  padding: 20px 40px 40px 40px;
}

.acquisti {
  margin: 20px 0;
}

ul {
  list-style-type: none;
  padding: 0;
}

#acquisti .title-sezione {
  padding-left: 40px;
  padding-top: 20px;
  margin-bottom: 0px !important;
}

#acquisti .acquisto {
  background-color: #fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  margin: 10px 0;
  padding: 15px;
  border-radius: 8px;
  display: flex;
  align-items: center;
  border: 2px solid #ddd;
  /* Colore del bordo grigio chiaro */
  border-radius: 30px;
  /* Border radius di 10px */

}

#acquisti .timestamp i {
  margin-right: 3px;
}

#acquisti .info {
  flex-grow: 1;
}

#acquisti .timestamp {
  color: #777;
  font-size: 0.9em;
}

#acquisti .quantita {
  color: #555;
  font-weight: normal;
  /* Rimuovo il grassetto */
  font-size: 1.2em;
}

#acquisti .quantita .numero {
  color: #333;
  /* Cambiato il colore del numero a un grigio più scuro */
  font-size: 1.2em;
  font-weight: bold;
  /* Metto in grassetto solo il numero */
}

#acquisti .caratteri {
  text-transform: uppercase;
  color: #777;
  font-size: 0.7em;
}

#acquisti .container {
  max-height: 500px;
  overflow-y: auto;
  padding-bottom: 0px !important;
  margin-bottom: 40px;
}


#acquisti .spesa {
  display: flex;
  align-items: center;
  margin-right: 20px;
  padding: 10px 15px;
  border: 2px solid #ddd;
  /* Colore del bordo grigio chiaro */
  border-radius: 30px;
  /* Border radius di 10px */
}

#acquisti .spesa i {
  font-size: 22px;
  margin-right: 10px;
  color: #3498db;
  /* Colore per l'icona del carrello */
}

#acquisti .ammontare {
  color: #3498db;
  /* Colore per l'importo della spesa */
  font-size: 1.3em;
  font-weight: bold;
}

/* STORICO ACQUISTI*/
.acquisti {
  margin: 20px;
}

ul {
  list-style-type: none;
  padding: 0;
}

.acquisto {
  background-color: #fff;
  border: 1px solid #ddd;
  margin: 10px 0;
  padding: 15px;
  border-radius: 5px;
}

.timestamp {
  color: #555;
}

.quantita {
  color: #333;
  font-weight: bold;
}


.label-form {
  font-size: 14px;
  font-weight: bolder;
  width: 100px;
  /* Imposta la larghezza desiderata per le etichette */
  display: inline-block;
}

.col1 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

#profilo .col1 {
  justify-content: center;
}

.col2 {
  display: flex;
  align-items: flex-start;
  /* Aggiunto per posizionare gli elementi in colonna e allineati a sinistra */
}

.form-img {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-right: 150px;
}

.ordine {
  display: flex;
  justify-content: space-between;
}

.smm-ordine {
  display: flex;
  flex-direction: column;
}

.smm2 {
  text-align: right;
}


#newImg {
  margin-bottom: 10px;
  /* Aggiungi margine sotto l'immagine */
}

.btn-primary {
  align-self: flex-end;
  /* Posiziona il pulsante in basso a destra */
}

#follow .ordine {
  justify-content: center;
}

#follow h3,
#popolarita h3,
#canali h3 {
  font-size: 18px;
  align-self: center;
  font-weight: bold;
  text-transform: uppercase;
}

.utenti,
.canali {
  display: flex;
  flex-direction: column;
}

ul {
  margin-top: 25px;
}

#popolarita h3 span {
  text-transform: lowercase;
}

#follow .col1,
#follow .col2 {
  padding: 0px 25px;
}

.follower-list-utenti,
.follower-list-canali,
.follow-list-utenti,
.follow-list-canali {
  max-height: 300px;
  margin: 0px;
  overflow-y: auto;
  list-style: none;
}

.follow-list-utenti {
  margin-right: 15px;
}

#follow h4 {
  font-size: 14px;
  text-align: center;
  text-transform: uppercase;
}

#follow button {
  background-color: transparent;
  margin-left: 10px;
}

#follow button:hover {
  background-color: transparent;
}

#follow li {
  background-color: white;
  border: 2px solid #ddd;
  padding: 2px 10px 2px 15px;
  border-radius: 20px;
  margin-bottom: 5px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#follow .ordine {
  padding-top: 10px;
}

.fa-x {
  color: #c0392b;
}

.followers,
.seguiti {
  display: flex;
}

.previsione {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}

.previsione p {
  margin: 0;
}

.riquadro_popolarita {
  background-color: #4caf50;
  color: #fff;
  border-radius: 8px;
  padding: 10px;
  margin-left: 10px;
  margin-right: 15px;
}

.riquadro_quota {
  background-color: #42a5f5;
  color: #fff;
  border-radius: 8px;
  padding: 10px;
}

.riquadro span {
  font-weight: bold;
}

#popolarita .title-sezione {
  margin-bottom: 16px;
}

#popolarita .fa-right-long {
  font-size: 24px;
  margin-right: 15px;
}

#popolarita .colonna {
  flex: 1;
  text-align: center;
  padding: 20px 20px 0px 20px;
  margin: 0 10px;
  max-height: 450px;
}

.squeal-header {
  display: flex;
  align-items: center;
  border: none;
}

.squeal {
  background-color: #fff;
  border-radius: 10px;
  border: 1px solid #ccc;
  padding: 10px;
  margin: 10px 0;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
}

.squeal-header .squeal-immagine-profilo {
  width: 32px;
  height: 32px;
  border-radius: 50%;
}

.squeal-info {
  display: flex;
  flex-direction: column;
  margin-left: 3%;
  color: #6c757d;
}

.squeal-nome-utente {
  font-weight: bold;
  color: black;
}

.squeal-contenuto {
  max-width: 100%;
  max-height: 100%;
  border-radius: 10px;
  margin-top: 10px;
  text-align: left;
}

.squeal img {
  width: 100%;
  border-radius: 20px;
}

#canale_selezionato form {
  flex-direction: column;
}

.card-canale {
    display: flex;
    background-color: #fff;
    border-radius: 10px;
    border: 1px solid #ccc;
    padding: 10px;
    margin: 10px 0;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
}

.card-canale img {
  border-radius: 20px;
  margin-right: 15px;
}

.info-canale {
  display: flex;;
  flex-direction: column;
}

.ruolo-canale {
  text-transform: uppercase;
  font-weight: bold;
  font-size: 12px;
}

.nome-canale p, .ruolo-canale p {
  margin-bottom: 10px;
  margin-top: 0px;
}

.ordine-canali {
  display: flex;
}

.gestiti, .acquistati {
  margin-right: 150px;
}

#canale_selezionato {
  background-color: #fff;
  border-radius: 10px;
  border: 1px solid #ccc;
  padding: 10px;
  margin: 10px 0;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
}

#canale_selezionato_nome {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 10px;
}

#canale_selezionato form {
  display: flex;
  flex-direction: column;
}

.canale_img {
  display: flex;
  flex-direction: row;
}

.modifica_canale_img {
  display: flex;
  flex-direction: column;
}
