body {
    background:#eee;
}

.contenitore-squeal {
    padding: 10px;
}

.squeal {
    background-color: white;
    width: auto;
    height: auto;
    padding: 10px;
    border: 1px solid #ccc;
    margin: auto;
    width: 90%;
    margin-bottom: 30px;
}

.card-header {
    display: flex;
    align-items: center;
    border: 1px solid #ccc;
}

.card-footer {
    display: auto;
    flex-direction: row;
    border: 1px solid #ccc;
}

.reazioni {
    padding: 3px;
}

.reazioni-left {
    flex-direction: column;
}

.reazioni-mid {
    flex-direction: column;
}

.reazioni-right {
    flex-direction: column;
}

.info-post {
    padding: 3px;
}

.label-squeal {
    color: black;
    padding: 4px;
    border-radius: 8px;
    border: 1px solid #ccc;
}

.visual {
    float: left;
}

.popolarita {
    margin-left: 3px;
    float: right;
    background-color: green;
}

.auto {
    margin-left: 3px;
    float: right;
    background-color: orange;
}

.pubblico {
    margin-left: 3px;
    float: right;
    background-color: red;
}

.profile-image {
    width: 48px;
    height: 48px;
    border-radius: 50%;
    margin-right: 10px;
}

.info_utente {
    display: flex;
    flex-direction: column;
}

.nome_utente {
    font-weight: bold;
}

.destinatari, .btn {
    margin-left: 20px;
    border-radius: 8px;
    border: 1px solid #ccc;
    color: #000000;
    font-size: auto;
    text-decoration: none;
}

.destinatari, .dropdown-menu {
    border: 1px solid #ccc;
    border-radius: 4px;
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
    padding: 0.5rem 0;
    max-height: 200px;
    min-width: 150px;
    overflow-y: auto;
}

.destinatari, .dropdown-item {
    font-weight: 400;
    white-space: normal;
    cursor: default; /* Impedisce il puntatore di tipo "mano" e l'effetto in hover */
    pointer-events: none; /* Impedisce il clic e l'effetto in hover */
}

.reazioni-icone {
    color: white;
}