  #feed {
    margin-top: 56px;
    width: 50%;
    margin-left: 25%;
    background-color: #f9f9f9;
  }

  .contenitore-squeal {
    width: 100%;
  }

  .squeal {
    width: 100%;
    height: auto;
    padding: 10px;
    margin: auto;
    margin-bottom: 20px; 
    -webkit-box-shadow: 0 0.5rem 1rem rgba(0, 0, 16, 0.19), 0 0.3rem 0.3rem rgba(0, 0, 16, 0.23);
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 16, 0.19), 0 0.3rem 0.3rem rgba(0, 0, 16, 0.23);
    background-color: rgb(255, 255, 255);
    padding: 0.8rem;
  }

  .card-header {
    display: flex;
    align-items: center;
    border: none;
    background-color: white;
  }

  .profile-image {
    width: 60px;
    height: 60px;
    border-radius: 50%;
  }
  
  .info_utente {
    display: flex;
    flex-direction: column;
    margin-left: 3%;
  }
  
  .nome_utente {
    font-weight: bold;
  }
  
  .destinatari{
    margin-left: auto; 
    margin-right: 0;
  }

  .btn-destinatari {
    color: #555 !important;
    font-size: auto;
    text-decoration: none !important;
    border: none !important;
  }
  
  .dropdown-menu {
    border: 1px solid #aaa;
    border-radius: 10px;
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.1);
    padding: 0.5rem 0;
    max-height: 200px;
    min-width: 120px;
    overflow-y: auto;
    margin-top: 10px;
  }
  
  .dropdown-item {
    font-weight: 400;
    white-space: normal;
  }

  .card-footer {
    border-top: 1px solid #ccc;
    background-color: white;
    padding: 8px 0 0 0;
  }

  .btn-reazioni {
    border: none;
    color: #777;
    background-color: inherit;
  }

  .reazioni-icone{
    font-size: 20px;
  }

  .commento-icona {
    font-size: 16px;
  }

  .visual-icona {
    font-size: 14px;
    color: #777;
  }

  .n-reazioni {
    color: #262d33;
  }

  .reazioni {
    padding: auto;
  }

  .label-squeal {
    color: black;
    border-radius: 8px;
    padding: 5px;
    float: right;
    /*border: 1px solid #ccc;*/
  }

  .visual {
    color: black;
    font-size: 14px;
    border-radius: 8px;
    padding: 5px;
    float: left;
  }
  
  .popolare {
    background-color: #b2d8b2;
  }
  
  .impopolare {
    background-color: #ff9999;
  }
  
  .controverso {
    background-color: #d9a6e0;
  }
  
  .auto {
    background-color:  #ffb07c;
  }
  
  /*
  .pubblico {
    margin-left: 3px;
    float: right;
    background-color: red;
  }
  */
