<!DOCTYPE html>
<html lang="it">

<head>
  <title>Impostazioni - Squealer</title>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">
  <script src="https://kit.fontawesome.com/352b6e21d2.js" crossorigin="anonymous"></script>

  <!-- CSS -->
  <link rel="stylesheet" href="../css/settings.css">
  <link rel="stylesheet" href="../css/navbar.css">

  <!-- Vue.js -->
  <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>

  <!--JavaScript Scripts-->
  <script type="text/javascript" src="/js/global.js"></script>
  <script type="text/javascript" src="/js/settings.js"></script>

</head>

<body>
  <header>
    <div class="navbar fixed-top">
      <div id="profile">
        <img src="https://via.placeholder.com/60x60" alt="Foto del tuo profilo" id="propic">
        <div class="dropdown" id="username">
          <button>
          <strong>
            <script>
              document.write(get_cookie_by_name("username"))
            </script>
          </strong>
          </button>
          <div id="dropdown-account-smm">
          </div>
        </div>
        <div id="managed-account-username" class="btn btn-primary" hidden="true"></div>
      </div>
      <div id="quota" aria-label="Sezione quota">
        <div id="nav_quota_m" class="char-count-item collapse multi-collapse" aria-label="Caratteri rimanenti questo mese">
          <span class="count" id="charCount_mese" aria-live="polite"></span>
          <span class="label">Mese</span>
        </div>
        <div id="nav_quota_s" style="padding-right: 30px;" class="char-count-item collapse multi-collapse" aria-label="Caratteri rimanenti questa settimana">
          <span class="count" id="charCount_sett" aria-live="polite"></span>
          <span class="label">Settimana</span>
        </div>
        <!-- collapse -->
        <button class="btn btn-primary nascondi_quota" type="button" data-bs-toggle="collapse" data-bs-target=".multi-collapse" aria-expanded="false" aria-controls="nav_quota_m nav_quota_s"><i class="fa-solid fa-angles-left"></i></button>
        <div id="nav_quota_g" class="char-count-item" style="padding-left: 30px;" aria-label="Caratteri rimanenti oggi">
          <span class="count" id="charCount_giorno" aria-live="polite"></span>
          <span class="label">Quota Giornaliera</span>
        </div>
        <button type="button" class="btn btn-unstyled" id="shopButton" data-bs-toggle="modal"
          data-bs-target="#shop-quota" aria-haspopup="true" title="compra più quota">
          <i class="fas fa-shopping-cart" aria-hidden="true"></i>
        </button>
      </div>
      <div class="lateral-buttons" aria-label="Bottoni laterali">
        <div id="home">
          <button type="button" class="btn btn-unstyled" id="homeButton" title="Home" onclick="redirectToHome()">
            <i class="fas fa-home"></i>
          </button>
        </div>
      </div>
    </div>
  </header>

  <!-- Modal -->
  <div class="modal fade" id="shop-quota" tabindex="-1" role="dialog" aria-labelledby="shop-quota" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <div class="modal-title">Acquista Quota</div>
          <button type="button" class="close" data-bs-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <div class="row">
            <div class="col-4">
              <div class="text-center">
                <img src="https://site212251.tw.cs.unibo.it/uploads/compra_quota_120.png"
                  alt="compra 120 caratteri per 0.99" class="img-fluid">
                <button @click="compra_quota(120)" class="btn btn-primary mt-3">Acquista</button>
              </div>
            </div>
            <div class="col-4">
              <div class="text-center">
                <img src="https://site212251.tw.cs.unibo.it/uploads/compra_quota_240.png"
                  alt="compra 240 caratteri per 1.99" class="img-fluid">
                <button @click="compra_quota(240)" class="btn btn-primary mt-3">Acquista</button>
              </div>
            </div>
            <div class="col-4">
              <div class="text-center">
                <img src="https://site212251.tw.cs.unibo.it/uploads/compra_quota_480.png"
                  alt="compra 480 caratteri per 4.99" class="img-fluid">
                <button @click="compra_quota(480)" class="btn btn-primary mt-3">Acquista</button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div id="main">
    <!-- MENU -->
    <div id="sidebar">
      <ul id="menu">
        <li><button @click="sezione_scelta='profilo'">Profilo</button></li>
        <li><button @click="sezione_scelta='account'">Account</button></li>
        <li><button @click="sezione_scelta='acquisti'">Storico Acquisti</button></li>
        <li><button @click="sezione_scelta='smm'">Social Media Manager</button></li>
        <li><button @click="sezione_scelta='follow'">Follow</button></li>
        <li><button @click="sezione_scelta='popolarita'">Popolarità</button></li>
        <li><button @click="sezione_scelta='canali'">Canali</button></li>
      </ul>
    </div>

    <!-- CONTENUTO -->
    <div id="content">

      <div id="profilo" class="sezione" v-show="sezione_scelta==='profilo'">
        <div class="container">
          <h3 class="mb-4 title-sezione">Informazioni Personali</h3>
          <form role="form" aria-label="Form impostazioni personali" @submit.prevent="form_info" id="form_info" class="ordine">

            <div class="col1">
              <div class="form-group">
                <label for="newName" class="label-form">Nome:</label>
                <input type="text" name="nome" class="form-control" id="newName" placeholder="Modifica"
                  aria-label="Nome">
              </div>

              <div class="form-group">
                <label for="newSurname" class="label-form">Cognome: </label>
                <input type="text" name="cognome" class="form-control" id="newSurname" placeholder="Modifica"
                  aria-label="Cognome">
              </div>

              <div class="form-group">
                <label for="newDesc" class="label-form">Descrizione: </label>
                <input type="text" name="bio" class="form-control" id="newDesc" placeholder="Modifica"
                  aria-label="Descrizione">
              </div>
            </div>

            <div class="col2">
              <div class="form-group form-img">
                <label for="newImg" class="label-form" hidden>Immagine profilo: </label>
                <img alt="immagine profilo attuale" id="currentImg"></img>
                <input type="file" name="img" class="form-control" id="newImg" placeholder="Nuova immagine di profilo"
                  accept="image/*" aria-label="Immagine">
              </div>

              <button type="submit" class="btn btn-primary">Salva</button>
            </div>
          </form>
        </div>
      </div>


      <div id="account" class="sezione" v-show="sezione_scelta==='account'">
        <div class="container">
          <h3 class="mb-4 title-sezione">Email e password</h3>
          <form role="form" aria-label="Form cambio mail o password" id="form_psw" @submit.prevent="form_psw" class="ordine"
            onsubmit="return check_form()">
            <div class="col1 area-canc">
              <div class="form-group">
                <label for="newEmail" class="label-form">Email: </label>
                <input type="text" name="email" class="form-control" id="newEmail" placeholder="Nuova email"
                  aria-label="Email">
              </div>

              <button type="button" class="btn elimina_account" @click="cancella_account()">Elimina Account<i class="fa-solid fa-trash"></i></button>
            </div>
            <div class="col2">
              <div class="form-img">
                <div class="form-group">
                  <label for="oldPassword" class="label-form">Password: </label>
                  <input type="password" name="old_password" class="form-control" v-model="psw" id="oldPassword" placeholder="Password"
                    aria-label="Password attuale" required>
                  <!-- <i class="far fa-eye" id="togglePassword" style="margin-left: -30px; cursor: pointer;"></i> -->
                </div>

                <div class="form-group">
                  <label for="newPassword" class="label-form">Nuova password: </label>
                  <input type="password" name="password" class="form-control" id="newPassword" placeholder="Nuova password"
                    aria-label="Nuova password">
                </div>

                <div class="form-group">
                  <label for="newCPassword" class="label-form">Conferma password: </label>
                  <input type="password" name="c_password" class="form-control" id="newCPassword"
                    placeholder="Conferma nuova password" aria-label="Conferma nuova password">
                </div>

              </div>

              <button type="submit" class="btn btn-primary">Salva</button>

            </div>

        </div>
        </form>
      </div>


      <div id="acquisti" class="sezione" v-show="sezione_scelta==='acquisti'">
        <h2 class="mb-4 title-sezione">Storico Acquisti</h2>
        <div class="container">
          <ul id="acquisti-list">
            <li v-for="acquisto in array_acquisti" v-html="acquisto">
            </li>
          </ul>
        </div>
      </div>


      <div id="smm" class="sezione" v-show="sezione_scelta==='smm'"> <!-- ACCOUNT GESTITI/SMM -->
        <div class="container">
          <div class="ordine">
            <div class="col1">
              <h3>I tuoi account gestiti</h3>
              <div id="div_account_gestiti"></div>
            </div>
            <div class="col2">
              <form id="update_smm" @submit.prevent="update_smm" enctype="multipart/form-data" class="smm-ordine">
                <div class="smm1">
                  <label for="current_smm">SMM che gestisce il tuo account:</label>
                  <input type="text" class="form-control" id="current_smm" name="current_smm" readonly>
                  <input type="submit" class="btn btn-danger" value="Rimuovi" style="width: 5em">
                </div>
                <div class="smm2">
                  <label for="new_smm" hidden>Cambia SMM</label>
                  <input type="text" id="new_smm" class="form-control" name="new_smm" placeholder="Cambia SMM">
                  <input type="submit" class="btn btn-success" value="Conferma">
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>


      <div id="follow" class="sezione" v-show="sezione_scelta==='follow'">
        <div class="container">
          <h2 class="mb-4 title-sezione">Lista Followers e Seguiti</h2>

          <div class="ordine">
            <div class="col1">
              <h3>Followers</h3>
              <div class="followers">
                <ul class="follower-list-utenti barra-scorrimento">
                  <li v-for="el in array_follower" v-html="el">
                  </li>
                </ul>

              </div>
            </div>

            <div class="col2 smm-ordine">
              <h3>Seguiti</h3>
              <div class="followers">
                <div class="utenti">
                  <h4>Utenti</h4>
                  <ul class="follow-list-utenti barra-scorrimento">
                    <li v-for="el in array_follow_utenti" :key="el[1]" :id="el[1]"  v-html="el[0]">
                    </li>
                  </ul>
                </div>
                <div class="canali">
                  <h4>Canali</h4>
                  <ul class="follow-list-canali barra-scorrimento">
                    <li v-for="el in array_follow_canali" :key="el[1]" :id="el[1]"  v-html="el[0]">
                    </li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div id="popolarita" class="sezione" v-show="sezione_scelta==='popolarita'">
        <div class="container">
          <h2 class="mb-4 title-sezione">Popolarità</h2>
          <div class="previsione">
            <p>Previsione andamento popolarità:
            <div class="riquadro_popolarita">
              <span>+20</span>
            </div>
            </p>
            <i class="fa-solid fa-right-long"></i>
            <div class="riquadro_quota">
              <span>+6</span><sub> caratteri al giorno</sub>
            </div>
          </div>
          <div class="ordine">
            <div class="colonna pop barra-scorrimento">
              <h3>Popolari <span>n.0</span></h3>
              <div class="popolari barra-scorrimento">

              </div>
            </div>
            <div class="colonna impop barra-scorrimento">
              <h3>Impopolari <span>n.0</span></h3>
              <div class="impopolari barra-scorrimento">

              </div>
            </div>
            <div class="colonna controv barra-scorrimento">
              <h3>Controversi <span>n.0</span></h3>
              <div class="controversi barra-scorrimento">

              </div>
            </div>
          </div>
        </div>
      </div>

      <div id="canali" class="sezione" v-show="sezione_scelta==='canali'">
        <div class="container barra-scorrimento">
          <h2 class="mb-4 title-sezione">Canali</h2>
          <div class="ordine-canali">
            <div class="colonna gestiti">
              <h3>Canali gestiti</h3>
              <div id="canali_gestiti" class="popolari barra-scorrimento">

              </div>
            </div>
            <div class="colonna acquistati">
              <h3>Canali acquistati</h3>
              <div id="canali_acquistati" class="impopolari barra-scorrimento">

              </div>
            </div>
            <div>
              <div id="canale_selezionato" hidden="true">
                <form @submit.prevent="update_channel" id="form_modifica_canale">
                  <div id="canale_selezionato_nome">
                  </div>
                  <div class="canale_img">
                    <div class="modifica_canale_img">
                      Cambia immagine:<input type="file" id="new_img" name="img" accept="image/*">
                    </div>
                    <img id="canale_selezionato_img" alt="immagine canale">
                  </div>
                  <div class="canale_descrizione">
                    Descrizione:<input type="textarea" id="new_descrizione" name="descrizione">
                  </div>
                  <div class="canale_moderatori">
                    Mod: <ul id="modlist_ul"></ul>
                  </div>
                  Aggiungi moderatori:
                  <div class="modifica_mod">
                    <input type="text" id="new_mod">
                    <input type="button" value="Aggiungi" @click="aggiungi_mod">
                  </div>
                  <input class="invia-modifiche" type="submit" value="Applica modifiche">
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>

    </div>
  </div>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.0/jquery.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-OERcA2EqjJCMA+/3y+gxIOqMEjwtxJY7qPCqsdltbNJuaOe923+mo//f6V8Qbsw3" crossorigin="anonymous">
    </script>

  <script>

    /*// override funzione form update_smm
    document.getElementById("update_smm").addEventListener('submit', async event => {
      event.preventDefault();
      update_smm();
    });*/

    /*// override funzione form modifica canale
    document.getElementById("form_modifica_canale").addEventListener('submit', async event => {
      event.preventDefault();
      update_channel();
    });*/

    // INSERIMENTO PROPIC UTENTE
    $("#propic").attr("src", "https://site212251.tw.cs.unibo.it/uploads/" + get_cookie_by_name("img"))

    // controllo l'account corrente (gestione smm)
    var CURRENT_USER = get_cookie_by_name("managed");
    if (CURRENT_USER == undefined) {
      CURRENT_USER = get_cookie_by_name("username");
    }

    //azione post form info utente
    /*//$("#form_info").attr("action", `/user/${CURRENT_USER}/settings`)
    document.getElementById("form_info").addEventListener('submit', async event => {
      event.preventDefault();
      form_info();
    });*/

    //azione post form psw utente
    /*//$("#form_psw").attr("action", `/user/${CURRENT_USER}/settings`)
    document.getElementById("form_psw").addEventListener('submit', async event => {
      event.preventDefault();
      form_psw();
    });*/

    //password show/hide
    /*
    const togglePassword = document.querySelector('#togglePassword');
    const password = document.querySelector('#oldPassword');

    togglePassword.addEventListener('click', function (e) {
      // toggle the type attribute
      const type = password.getAttribute('type') === 'password' ? 'text' : 'password';
      password.setAttribute('type', type);
      // toggle the eye slash icon
      this.classList.toggle('fa-eye-slash');
    });
    */

    // aggiorno la quota
    refresh_quota()
    let quota_giorno = get_cookie_by_name("quota_g");
    let quota_settimana = get_cookie_by_name("quota_s");
    let quota_mese = get_cookie_by_name("quota_m");

    // Aggiorna il contenuto delle span con i nuovi valori
    document.getElementById("charCount_mese").textContent = quota_mese;
    document.getElementById("charCount_sett").textContent = quota_settimana;
    document.getElementById("charCount_giorno").textContent = quota_giorno;


    // ================= SEZIONI


    // === PROFILO

    //migrata su vue

    // === ACCOUNT

    //migrata su vue

    // === SMM

    //tuoi account gestiti
    let account = []
    $.ajax({
      type: 'GET',
      dataType: "json",
      async: false,
      url: `https://site212251.tw.cs.unibo.it/user/${CURRENT_USER}/manager_of`,
      headers: {},
      success: function (data, status, xhr) {
        console.log('data: ', data);
        account = data["data"];
      }
    });

    if (account.length > 0) {
      let tmp = "<ul id='lista_account_gestiti'>"
      account.forEach((el) => {
        tmp += `<li>${el}</li>`
      })
      tmp += "</ul>"
      $("#div_account_gestiti").append(tmp)

    } else {
      $("#div_account_gestiti").text("Non gestisci nessun account")
    }

    //tuo smm
    let result = null
    $.ajax({
      type: 'GET',
      dataType: "json",
      async: false,
      url: `https://site212251.tw.cs.unibo.it/user/${CURRENT_USER}/managed_by`,
      headers: {},
      success: function (data, status, xhr) {
        console.log('data: ', data);
        result = data["data"];
      }
    });

    if (result == null) {
      $("#current_smm").attr("value", "Non ci sono SMM che gestiscono il tuo account")
    } else {
      $("#current_smm").attr("value", result)
    }

    // STORICO ACQUISTI

    // migrata su vue


    // FOLLOWER E FOLLOW

    // migrata su vue


    // POPOLARITA
    let all_post;
    $.ajax({
      type: 'POST',
      dataType: "json",
      async: false,
      url: `https://site212251.tw.cs.unibo.it/squeal/by_user`,
      headers: {},
      data: { query: CURRENT_USER, target: CURRENT_USER },
      success: function (data, status, xhr) {
        all_post = data.data.post;
      }
    });

    var num_popolari = 0;
    var num_impopolari = 0;
    var num_controversi = 0;

    for (var i = 0; i < all_post.length; i++) {
      var container_popolare = document.querySelector(".popolari");
      var container_impopolare = document.querySelector(".impopolari");
      var container_controverso = document.querySelector(".controversi");

      if (all_post[i].categoria == 'popolare') {
        num_popolari++;
        var nuovoElemento = document.createElement("div");
        nuovoElemento.classList.add("squeal");
        var nuovoContenuto = `
                      <div class="squeal-header">
                          <img src="https://site212251.tw.cs.unibo.it/uploads/${all_post[i].img}" alt="Immagine Profilo" class="squeal-immagine-profilo" id="squeal-immagine-profilo">
                          <div class="squeal-info">
                              <span class="squeal-nome-utente" id="squeal-nome-utente">${all_post[i].nome}</span>
                              <span class="squeal-data" id="squeal-data">${timeConverter(all_post[i].timestamp)}</span>
                          </div>
                      </div>
                      <div class="squeal-contenuto" id="squeal-contenuto">
                          {{contenuto}}
                      </div>
                  `;

        if (all_post[i].contenuto == "testo") {
          nuovoContenuto = nuovoContenuto.replace("{{contenuto}}", all_post[i].corpo);
        } else if (all_post[i].contenuto == "img") {
          nuovoContenuto = nuovoContenuto.replace("{{contenuto}}", `<img src="https://site212251.tw.cs.unibo.it/uploads/${all_post[i].corpo}" alt="immagine_squeal">`);
        }

        // Imposta il contenuto HTML della nuova div
        nuovoElemento.innerHTML = nuovoContenuto;
        // Aggiungi la nuova div all'elemento container
        container_popolare.appendChild(nuovoElemento);

      } else if (all_post[i].categoria == 'impopolare') {
        num_impopolari++;
        var nuovoElemento = document.createElement("div");
        nuovoElemento.classList.add("squeal");
        var nuovoContenuto = `
                      <div class="squeal-header">
                          <img src="https://site212251.tw.cs.unibo.it/uploads/${all_post[i].img}" alt="Immagine Profilo" class="squeal-immagine-profilo" id="squeal-immagine-profilo">
                          <div class="squeal-info">
                              <span class="squeal-nome-utente" id="squeal-nome-utente">${all_post[i].nome}</span>
                              <span class="squeal-data" id="squeal-data">${timeConverter(all_post[i].timestamp)}</span>
                          </div>
                      </div>
                      <div class="squeal-contenuto" id="squeal-contenuto">
                          {{contenuto}}
                      </div>
                  `;

        if (all_post[i].contenuto == "testo") {
          nuovoContenuto = nuovoContenuto.replace("{{contenuto}}", all_post[i].corpo);
        } else if (all_post[i].contenuto == "img") {
          nuovoContenuto = nuovoContenuto.replace("{{contenuto}}", `<img src="https://site212251.tw.cs.unibo.it/uploads/${all_post[i].corpo}" alt="immagine_squeal">`);
        }

        // Imposta il contenuto HTML della nuova div
        nuovoElemento.innerHTML = nuovoContenuto;
        // Aggiungi la nuova div all'elemento container
        container_impopolare.appendChild(nuovoElemento);

      } else if (all_post[i].categoria == 'controverso') {
        num_controversi++;
        var nuovoElemento = document.createElement("div");
        nuovoElemento.classList.add("squeal");
        var nuovoContenuto = `
                      <div class="squeal-header">
                          <img src="https://site212251.tw.cs.unibo.it/uploads/${all_post[i].img}" alt="Immagine Profilo" class="squeal-immagine-profilo" id="squeal-immagine-profilo">
                          <div class="squeal-info">
                              <span class="squeal-nome-utente" id="squeal-nome-utente">${all_post[i].nome}</span>
                              <span class="squeal-data" id="squeal-data">${timeConverter(all_post[i].timestamp)}</span>
                          </div>
                      </div>
                      <div class="squeal-contenuto" id="squeal-contenuto">
                          {{contenuto}}
                      </div>
                  `;

        if (all_post[i].contenuto == "testo") {
          nuovoContenuto = nuovoContenuto.replace("{{contenuto}}", all_post[i].corpo);
        } else if (all_post[i].contenuto == "img") {
          nuovoContenuto = nuovoContenuto.replace("{{contenuto}}", `<img src="https://site212251.tw.cs.unibo.it/uploads/${all_post[i].corpo}" alt="immagine_squeal">`);
        }

        // Imposta il contenuto HTML della nuova div
        nuovoElemento.innerHTML = nuovoContenuto;
        // Aggiungi la nuova div all'elemento container
        container_controverso.appendChild(nuovoElemento);

      }
    }
    // aggiunta numero effettivo squeal
    var numero_popolari = document.querySelector('.colonna.pop h3 span');
    var numero_impopolari = document.querySelector('.colonna.impop h3 span');
    var numero_controversi = document.querySelector('.colonna.controv h3 span');

    // Aggiorna il contenuto con il numero effettivo
    numero_popolari.textContent = 'n.' + num_popolari;
    numero_impopolari.textContent = 'n.' + num_impopolari;
    numero_controversi.textContent = 'n.' + num_controversi;

    //gestione popolarità e quota
    let pop = num_popolari - num_impopolari;
    let bonus = (Math.floor(pop / 10) / 100) * 300 //1% +- per ogni 10 di popolarita

    // Aggiorna il contenuto del riquadro popolarita
    var val_popolarita = document.querySelector('.riquadro_popolarita span');
    var riquadro_popolarita = document.querySelector('.riquadro_popolarita');

    if (pop >= 0) {
      val_popolarita.textContent = '+' + pop;
      riquadro_popolarita.style.backgroundColor = '#4caf50';
    } else {
      val_popolarita.textContent = pop;
      riquadro_popolarita.style.backgroundColor = '#FF6347';
      riquadro_popolarita.style.color = 'black';
    }

    // Aggiorna il contenuto del riquadro quota
    var val_quota = document.querySelector('.riquadro_quota span');
    var riquadro_quota = document.querySelector('.riquadro_quota');

    if (bonus >= 0) {
      val_quota.textContent = '+' + bonus;
      riquadro_quota.style.backgroundColor = '#42a5f5';
    } else {
      val_quota.textContent = bonus;
      riquadro_quota.style.backgroundColor = '#ffd966';
      riquadro_quota.style.color = 'black';
    }

    function previewImage(input) {
      var file = input.files[0];
      if (file) {
        var reader = new FileReader();
        reader.onload = function (e) {
          $('#currentImg').attr('src', e.target.result);
        };
        reader.readAsDataURL(file);
      }
    }

    let canali = []
    $.ajax({
      type: 'GET',
      dataType: "json",
      async: false,
      url: `https://site212251.tw.cs.unibo.it/user/${CURRENT_USER}/my_channels`,
      headers: {},
      success: function (data, status, xhr) {
        canali = data.data;
      }
    });
    canali.forEach((el) => {
      if (el.ruolo === "proprietario") {
        $("#canali_acquistati").append(`<div class="card-canale"><img style="width: 60px; height: 60px" src="https://site212251.tw.cs.unibo.it/uploads/${el.img}" alt="immagine canale"><div class="info-canale"><div class="nome-canale"><p>${el.canale}</p></div><div class="ruolo-canale"><p>proprietario</p></div><button @click="seleziona_canale('esistente','${el.canale}')">Modifica</button></div></div>`)
      } else if (el.ruolo === "mod") {
        $("#canali_gestiti").append(`<div class="card-canale gestito"><img style="width: 60px; height: 60px" src="https://site212251.tw.cs.unibo.it/uploads/${el.img}" alt="immagine canale"><div class="info-canale"><div class="nome-canale"><p>${el.canale}</p></div><div class="ruolo-canale"><p>moderatore</p></div></div></div>`)
      }
    })
    $("#canali_acquistati").append(`  <div id="aggiungi-canale" class="card-canale">
        <img style="width: 60px; height: 60px" src="https://site212251.tw.cs.unibo.it/uploads/default_channelpic.png" alt="immagine canale">
        <div class="info-canale">
          <div class="nome-canale">
            <input type="text" id="nomeCanaleInput" v-model="nuovoCanale" placeholder="Nuovo canale">
          </div>
          <div class="ruolo-canale">
            <p>proprietario</p>
          </div>
          <div class="nuovo-canale">
            <button @click="seleziona_canale('nuovo')">Crea Canale <i class="fas fa-plus"></i></button>
          </div>
        </div>
        </div>`)

    const { createApp, ref } = Vue

    const app = createApp({
      data() {
        return {
          nuovoCanale: '',
          sezione_scelta: "profilo",
          array_acquisti: [],
          array_follower: [],
          array_follow_utenti: [],
          array_follow_canali: [],
          psw: ''
        }
      },
      methods: {
        load_acquisti(){
          //console.log(this.array_acquisti.length)
          let prezzo = {120: "0,99", 240: "1,99", 480: "4,99"}
          lista_acquisti = null
          $.ajax({
            type: 'GET',
            dataType: "json",
            async: false,
            url: `https://site212251.tw.cs.unibo.it/user/${CURRENT_USER}`,
            headers: {},
            success: function (data, status, xhr) {
              lista_acquisti = data.data.acquisti
            }
          });
          lista_acquisti.forEach((acquisto) => {
            this.array_acquisti.push(
              `<div class="acquisto">
                      <div class="info">
                          <div class="quantita">Quota aggiunta: <span class="numero">${acquisto.quantita}</span> <span class="caratteri">caratteri</span></div>
                          <div class="timestamp"><i class="fas fa-calendar"></i> ${timeConverter(acquisto.timestamp)}</div>
                      </div>
                      <div class="spesa">
                          <i class="fas fa-shopping-cart"></i>
                          <div class="ammontare">${prezzo[acquisto.quantita]} €</div>
                      </div>
                  </div>`
            )
          })
          //console.log(this.array_acquisti)
        },
        load_follow(){
          let follow = []
          let follower = []
          $.ajax({
            type: 'GET',
            dataType: "json",
            async: false,
            url: `https://site212251.tw.cs.unibo.it/user/${CURRENT_USER}`,
            headers: {},
            success: function (data, status, xhr) {
              console.log('data: ', data);
              follow = data["data"];
            }
          });
          follow.utenti_seguiti.forEach((el) => {
            this.array_follow_utenti.push([
              `<div>
                <i class="fas fa-user"></i>
                <span>${el}</span>
              </div>
              <button class="remove-btn" onclick="removeFollowing('${el}', 'utente')">
                <i class="fa-solid fa-x"></i>
              </button>`,
              "li_follow_"+el]
            )
          })
          follow.canali_seguiti.forEach((el) => {
            this.array_follow_canali.push([
              `<div>
                <i class="fas fa-users"></i>
                <span>${el}</span>
              </div>
              <button class="remove-btn" onclick="removeFollowing('${el}', 'canale')">
                <i class="fa-solid fa-x"></i>
              </button>`,
              "li_follow_"+el]
            )
          })

          $.ajax({
            type: 'GET',
            dataType: "json",
            async: false,
            url: `https://site212251.tw.cs.unibo.it/user/${CURRENT_USER}/followers`,
            headers: {},
            success: function (data, status, xhr) {
              console.log('data: ', data);
              follower = data["data"];
            }
          });
          follower.forEach((el) => {
            this.array_follower.push(
              `<div>
                <i class="fas fa-user"></i>
                <span>${el.username}</span>
              </div>`
            )
          })
        },
        compra_quota(qnt) {
          let data = { "target": CURRENT_USER, "qnt": qnt, "acquisto": true }

          fetch("/user/" + CURRENT_USER + "/quota", {
            method: "POST",
            headers: {
              'Content-Type': 'application/json'
            },
            body: JSON.stringify(data)
          })
          .then((response) => {
            //chiudo modal
            $("#shop-quota").modal("toggle")
            let new_quota = parseInt(get_cookie_by_name("quota_g")) + qnt
            //aggiorno il cookie quota
            set_cookie("quota_g", new_quota)
            //aggiorno navbar
            $("#charCount_giorno").text(new_quota)
          })
        },
        aggiungi_mod(){
          let nome = $("#new_mod").val()
          $.ajax({
              type: 'GET',
              dataType: "json",
              async: false,
              url: `https://site212251.tw.cs.unibo.it/user/${nome}`,
              headers: { },
              success: function (data, status, xhr) {
                  $("#new_mod").val("")
                  $("#modlist_ul").append(`<li id="li_${nome}" onclick="rimuovi_mod('${nome}')">${nome}</li>`)
              },
              error: function (xhr, status, error) {
                  if (xhr.status === 404) {
                      alert("L'utente inserito non esiste");
                  }
              }
          });
        },
        seleziona_canale(tipo, nome){
          if (tipo === 'nuovo') {
            if (!this.nuovoCanale.startsWith("$")) {
              this.nuovoCanale = "$" + this.nuovoCanale
            }
            this.nuovoCanale = this.nuovoCanale.toLowerCase();
            $.ajax({
                type: 'POST',
                dataType: "json",
                async: false,
                url: `https://site212251.tw.cs.unibo.it/channel`,
                headers: { },
                data: {nome: this.nuovoCanale, userid: CURRENT_USER, descrizione: '', ufficiale: 'false'},
                success: function (data, status, xhr) {
                  redirectToSettings();
                },
                error: function (xhr, status, error) {
                    if (xhr.status === 403) {
                        alert("Nome del canale già esistente");
                    }
                }
            });
          } else {
            var deleteButton = document.createElement("button");
            deleteButton.type = "button";
            deleteButton.className = "btn btn-danger";
            deleteButton.onclick = function() {
              cancella_canale(nome);
            };
            var trashIcon = document.createElement("i");
            trashIcon.className = "fa-solid fa-trash-can";
            deleteButton.appendChild(trashIcon);
            $.ajax({
                type: 'GET',
                dataType: "json",
                async: false,
                url: `https://site212251.tw.cs.unibo.it/channel/${nome}`,
                headers: { },
                success: function (data, status, xhr) {
                    console.log('data: ', data);
                    $("#canale_selezionato").removeAttr("hidden")

                    $("#canale_selezionato_nome").text(nome)
                    document.getElementById("canale_selezionato_nome").appendChild(deleteButton);
                    $("#canale_selezionato_img").attr("src", `https://site212251.tw.cs.unibo.it/uploads/${data.data.img}`)
                    $("#new_descrizione").val(data.data.descrizione)

                    $("#modlist_ul").empty()
                    data.data.mod.forEach((el) => {
                        $("#modlist_ul").append(`<li id="li_${el}" onclick="rimuovi_mod('${el}')">${el}  <i class="fa-solid fa-trash-can"></i></li>`)
                    })
                    /*mods = mods.slice(0, -1)
                    console.log(mods)
                    console.log(data.data.mod)
                    $("#modlist").val(mods)*/
                }
            });
          }
        },
        update_channel(){
          const formData = new FormData(document.getElementById("form_modifica_canale"))

          let modlist = document.getElementById("modlist_ul").getElementsByTagName("li");
          let modstring = ""
          for(let i=0; i<modlist.length; i++){
              modstring += modlist[i].id.slice(3)+","
          }
          modstring = modstring.slice(0, -1)
          formData.set("modlist", modstring)
          //console.log(modstring)

          let nome = $("#canale_selezionato_nome").text()
          $.ajax({
              type: 'POST',
              dataType: "json",
              async: false,
              url: `https://site212251.tw.cs.unibo.it/channel/${nome}`,
              headers: { },
              data: formData,
              processData: false,
              contentType: false,
              success: function (data, status, xhr) {
                  console.log(data)
                  redirectToSettings();
              }
          });
        },
        update_smm(){
          const formData = new FormData(document.getElementById("update_smm"))

          if(formData.get("current_smm") === "Non ci sono SMM che gestiscono il tuo account")
              formData.set("current_smm", "null")
          if(formData.get("new_smm") === "")
              formData.set("new_smm", "null")

          //console.log(formData)

          fetch(`/user/${CURRENT_USER}/managed_by`, {
              method: "POST",
              body: formData,
          })
          .then((response) => {
              if (response.ok) {
              // The initial request was successful
              window.location.replace("https://site212251.tw.cs.unibo.it/settings");
              } else {
              throw new Error("Network response was not ok.");
              }
          })
        },
        form_info() {
          const formData = new FormData(document.getElementById("form_info"))

          $.ajax({
              type: 'POST',
              dataType: "json",
              async: false,
              url: `https://site212251.tw.cs.unibo.it/user/${CURRENT_USER}/settings`,
              headers: { },
              data: formData,
              processData: false,
              contentType: false,
              success: function (data, status, xhr) {
                  console.log('data: ', data);
                  redirectToSettings();
                  alert("Modifiche salvate");
              },
              error: function (xhr, status, error) {
                  if (xhr.status === 404) {
                      alert("Errore username");
                  }
              }
          });
        },
        form_psw() {
            const formData = new FormData(document.getElementById("form_psw"))

            $.ajax({
                type: 'POST',
                dataType: "json",
                async: false,
                url: `https://site212251.tw.cs.unibo.it/user/${CURRENT_USER}/settings`,
                headers: { },
                data: formData,
                processData: false,
                contentType: false,
                success: function (data, status, xhr) {
                    console.log('data: ', data);
                    redirectToSettings();
                },
                error: function (xhr, status, error) {
                    if (xhr.status === 401) {
                        alert("La password inserita non è corretta");
                    }
                }
            });
        },
        load_profile(){
          let all_info;
          $.ajax({
            type: 'POST',
            dataType: "json",
            async: false,
            url: `https://site212251.tw.cs.unibo.it/squeal/by_user`,
            headers: {},
            data: { query: CURRENT_USER, target: CURRENT_USER },
            success: function (data, status, xhr) {
              console.log('data: ', data);
              all_info = data.data;
            }
          });
          if (all_info === undefined) {
            console.log("error");
          }
          // profilo
          let NomeCognome = all_info.meta.info.nome;
          let ArrayCName = NomeCognome.split(' ');
          document.getElementById("currentImg").src = "https://site212251.tw.cs.unibo.it/uploads/" + all_info.meta.info.img;

          document.getElementById("newName").value = ArrayCName[0];
          document.getElementById("newSurname").value = ArrayCName[1];
          document.getElementById("newDesc").value = all_info.meta.info.bio;
          // account
          document.getElementById("newEmail").value = all_info.meta.info.email;
        },
        cancella_account(){
          $.ajax({
            type: 'DELETE',
            dataType: "json",
            async: false,
            url: `https://site212251.tw.cs.unibo.it/user/${CURRENT_USER}`,
            headers: {},
            data: { password: this.psw },
            success: function (data, status, xhr) {
              redirectToSettings();
            },
            error: function (xhr, status, error) {
                if (xhr.status === 403) {
                    alert("La password inserita non è corretta");
                }
            }
          });
        }
      },
      beforeMount(){
        this.load_acquisti()
        this.load_follow()
      },
      mounted(){
        this.load_profile()
      }

    }).mount('body')

  </script>
</body>

</html>
